@font-face {
   font-family: 'HelveticaNowDisplay-Black';
   font-display: swap;
   src: url('file:///Users/lorenzacozzoni/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2019-10-16_131407/fonts/HelveticaNowDisplay-Black/font.woff');
}
